[submodule "basics/hello-world/lib/forge-std"]
	path = basics/hello-world/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/first-application/lib/forge-std"]
	path = basics/first-application/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/primitive-data-types/lib/forge-std"]
	path = basics/primitive-data-types/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/variables/lib/forge-std"]
	path = basics/variables/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/fixedVariable/lib/forge-std"]
	path = basics/fixedVariable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/fixed-variable/lib/forge-std"]
	path = basics/fixed-variable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/if-else/lib/forge-std"]
	path = basics/if-else/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/looping/lib/forge-std"]
	path = basics/looping/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/mapping/lib/forge-std"]
	path = basics/mapping/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/array/lib/forge-std"]
	path = basics/array/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "enum/lib/forge-std"]
	path = enum/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/user-defined-value/lib/forge-std"]
	path = basics/user-defined-value/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/structs/lib/forge-std"]
	path = basics/structs/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/data-location/lib/forge-std"]
	path = basics/data-location/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/data-locations/lib/forge-std"]
	path = basics/data-locations/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/data-locations/transient-storage/lib/forge-std"]
	path = basics/data-locations/transient-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/functions/lib/forge-std"]
	path = basics/functions/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/modifier/lib/forge-std"]
	path = basics/modifier/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/events/lib/forge-std"]
	path = basics/events/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/advanced-events/lib/forge-std"]
	path = basics/advanced-events/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/constructor/lib/forge-std"]
	path = basics/constructor/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/inheritance/lib/forge-std"]
	path = basics/inheritance/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/shadow-inherit-value/lib/forge-std"]
	path = basics/shadow-inherit-value/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/call-parent-contract/lib/forge-std"]
	path = basics/call-parent-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/visibility/lib/forge-std"]
	path = basics/visibility/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/interface/lib/forge-std"]
	path = basics/interface/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/payable/lib/forge-std"]
	path = basics/payable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/sending-eth/lib/forge-std"]
	path = basics/sending-eth/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "fallback/lib/forge-std"]
	path = fallback/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/call/lib/forge-std"]
	path = basics/call/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/delegate-call/lib/forge-std"]
	path = basics/delegate-call/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/function-selector/lib/forge-std"]
	path = basics/function-selector/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/call-other-contract/lib/forge-std"]
	path = basics/call-other-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/contract-factory/lib/forge-std"]
	path = basics/contract-factory/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/try-catch/lib/forge-std"]
	path = basics/try-catch/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/import/lib/forge-std"]
	path = basics/import/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/library/lib/forge-std"]
	path = basics/library/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-fundamental/simple-storage/lib/forge-std"]
	path = foundry-fundamental/simple-storage/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
