[submodule "basics/hello-world/lib/forge-std"]
	path = basics/hello-world/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/first-application/lib/forge-std"]
	path = basics/first-application/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/primitive-data-types/lib/forge-std"]
	path = basics/primitive-data-types/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/variables/lib/forge-std"]
	path = basics/variables/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/fixedVariable/lib/forge-std"]
	path = basics/fixedVariable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/fixed-variable/lib/forge-std"]
	path = basics/fixed-variable/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basics/if-else/lib/forge-std"]
	path = basics/if-else/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
